/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/media-library
/storage/media-library/*
/storage/app/public/*
/storage/temp
/storage/temp/*
/vendor
.env
.env.conf
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
